extends layout
block content
    .container
        h1 Control Center
        button.btn.btn-default(onclick="command('#{user.username}','left')", value="Left") Left
        button.btn.btn-default(onclick="command('#{user.username}','forward')", value="Forward") Forward
        button.btn.btn-default(onclick="command('#{user.username}','right')", value="Right") Right
        button.btn.btn-default(onclick="command('#{user.username}','stop')", value="Stop") Stop
        .chat
        ul(id='messages')
        form(action="")
            input(id="m" autocomplete="false")
            input(type="hidden" id="username" value=user.username)
            button.btn.btn-default(value="Send") send
    script(src="https://cdn.socket.io/socket.io-1.2.1.js")
    script(src='/javascripts/jquery-1.11.2.min.js')
    script(src="/javascripts/sockets.js")